:root {
    --padding-horizontal: 24pt;
    --padding-vertical: 36pt;
    --padding-between: 18pt;

    --page-width: 768px;

    --large-font-size: 24pt;
    --medium-font-size: 18pt;
    --small-font-size: 16pt;

    --border-radius: 12pt;

    --project-icon-size: 36pt;
}
